@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  color: ash;
}

.main {
  background-image: url("image-folder/header-shapes\ mobile@2x.svg");
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  font-size: 20px;
  font-weight: 700;
  color: #6070ff;
  font-family: "poppins", sans-serif;
}

.fa {
  font-size: 24px;
  color: #6070ff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: -45px;
}

.author {
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
}

.author h1 {
  color: #172b4d;
  width: 100%;
  font-size: 40px;
  font-weight: 700;
  border: 1px solid red;
  transform: rotate(5deg);
  animation-duration: 2s;
  background-color: rgb(39, 20, 209);
}

.content p {
  color: #344563;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

/* PROJECT/ABOUT SECTION */

.project {
  display: grid;
}

.author0 {
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
}

.author0 h3 {
  color: #172b4d;
  width: 100%;
  font-size: 40px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

.content {
  height: 146px;
  width: 100%;
}

.content0 p {
  width: 80%;
  color: #344563;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.connect a {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.link {
  text-decoration: none;
  color: #7f8cff;
}

.social-pic {
  display: flex;
  flex: row;
  gap: 20px;
}

.socials-icon {
  margin-left: -20px;
}

.social-pic li {
  list-style-type: none;
}

.card {
  background-color: #fff;
  border: 1px solid #dfe1e6;
  height: 592px;
  width: 295px;
  left: 24px;
  top: 114px;
  border-radius: 16px;
  padding: 10px;
  margin: auto;
  margin-top: 100px;
}

.project-heading h2 {
  width: 295px;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  color: #172b4d;
}

.canopy {
  font-family: 'Poppins', sans-serif;
  font-weight: 550;
  font-size: 15px;
  display: flex;
  gap: 15px;
  color: #7a869a;
  margin-left: -40px;
}

.canopy li {
  list-style-type: none;
}

.senior {
  color: #172b4d;
}

.canopy-p {
  width: 295px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #344563;
}

.canopy-list {
  display: flex;
  gap: 25px;
  font-family: 'Poppins', sans-serif;
  margin-left: -40px;
}

.canopy-list li {
  list-style-type: none;
}

.list {
  font-size: 12px;
  border: #000 solid 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 8px;
  border-radius: 8px;
  background-color: #ebebff;
  color: #6070ff;
  height: 15px;
}

.list0 {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  border: #000 solid 0;
  padding: 12px;
  border-radius: 8px;
  background-color: #ebebff;
  color: #6070ff;
  height: 15px;
}

.card-img1 {
  width: 295px;
  border-radius: 8px;
}

.btn {
  font-size: 17px;
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;
  border: #6070ff solid 1px;
  color: #396df2;
  cursor: pointer;
}

.btn:hover {
  color: #fff;
  background-color: #396df2;
}

.about-section {
  /* width: 305px; */
  top: 4769px;
  border-right: 1px solid #dfe1e6;
  border-top-right-radius: 40px;
  padding: 10px;
  margin: auto;
  margin-top: 100px;
}

.about-section button {
  margin-left: 25px;
}

.drop p {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.drop {
  margin-bottom: 100px;
}

.lang {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 0;
}

.about0 h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.lang li {
  list-style-type: none;
}

.lang-item {
  height: 66.7155990600586px;
  width: 303px;
  border: #f7f7f9 solid;
  background-color: #f7f7f9;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  padding-left: 5px;
  padding-top: 10px;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  color: #253858;
}

.im {
  margin-bottom: -20px;
}

.fas {
  height: 12px;
  width: 6px;
  border-radius: 0;
  color: #7a869a;
  margin-left: 300px;
}

#chev {
  color: #7a869a;
  rotate: 90deg;
}

.contact-h {
  font-family: " Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: center;
  color: #fff;
}

.contact-p {
  font-family: " Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  color: #ebebff;
  width: 100%;
}

.contact-section {
  background-color: #6070ff;
  background-image: url(image-folder/Contact1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 120%;
  border-top-left-radius: 100px;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.contact-section h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: center;
  color: #fff;
  margin-left: 40px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 120px;
}

.form-p {
  display: flex;
  margin-left: 12px;
  margin-right: 20px;
  margin-bottom: 300px;
  flex-direction: column;
}

.input-p {
  width: 80%;
  height: 30px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  padding: 15px 38px 15px 16px;
}

.input-t {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 150px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #172b4d;
  padding: 15px 38px 15px 16px;
}

.btn-1 {
  background-color: #fff;
  cursor: pointer;
  width: 152px;
  height: 48px;
  border-radius: 8px;
  padding: 12px, 16px, 12px, 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070ff;
  font-size: 17px;
  border: #fff 1px solid;
}

.btn-1:hover {
  background-color: #6070ff;
  color: #fff;
  border-color: #fff;
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.btn-1:active {
  background-color: #2230d2;
}

.portfolio {
  display: none;
}

@media screen and (min-width: 768px) {
  .portfolio {
    margin-top: -50px;
    margin-right: 40px;
    display: block;
  }

  .navlist0 {
    display: flex;
    gap: 40px;
    justify-content: flex-end;
  }

  .navlist {
    list-style-type: none;
  }

  .navlist:hover {
    border-radius: 8px;
    background-color: #0e3fc5;
    transition-duration: 1s;
    transition-delay: 1s;
  }

  .ham {
    display: none;
  }

  .main {
    background-image: url("image-folder/Header\ bg.svg");
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -5px;
    height: 816px;
    width: 100%;
    left: 0;
    top: 1px;
  }

  .author h1 {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.3700000047683716px;
    text-align: left;
    height: 122px;
    width: 920px;
  }

  .pag {
    width: 70%;
    margin-top: -20px;
  }

  .main0 {
    margin-left: 25%;
    padding-top: 140px;
  }

  .socials {
    margin-top: -40px;
  }

  .card {
    height: 496px;
    width: 1156px;
    left: 0;
    top: 0;
    border-radius: 24px;
  }

  .card:hover {
    border-color: #6070ff;
  }

  .margin {
    display: flex;
    gap: 50px;
  }

  .card-img1 {
    height: 448px;
    width: 544px;
    left: 24px;
    top: 24px;
    border-radius: 8px;
  }

  .tap {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 10px;
  }

  .senior {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 10px;
  }

  .canopy {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 10px;
  }

  .canopy-p {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    width: 296px;
    height: 70px;
    margin-bottom: 10px;
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    color: #396df2;
    height: 40px;
    width: 175px;
    border-radius: 8px;
    background-color: white;
    border: 2px solid #6070ff;
    cursor: pointer;
  }

  .multi {
    width: 100%;
  }

  .about-section {
    display: flex;
    margin-top: 100px;
  }

  .main-content1 {
    width: 50%;
    margin-left: 90px;
  }

  .lang {
    display: flex;
    flex-direction: row;
    width: 600px;
  }

  .lang-item {
    background-color: #fff;
    border: none;
  }

  .lang-p {
    margin-top: 20px;
    margin-left: -28px;
  }

  .lang-p1 {
    margin-top: 20px;
    margin-left: -8px;
  }

  .lang-p2 {
    margin-top: 20px;
    margin-left: -5px;
  }

  .about {
    width: 45%;
    margin-top: 20px;
  }

  .fa-angle-right {
    margin-left: 460px;
  }

  #arrow {
    margin-left: 460px;
  }

  .connect {
    margin-top: 50px;
  }

  .mrg {
    display: flex;
    flex-direction: row-reverse;
  }

  .list {
    border: 2px;
    display: flex;
    justify-content: center;
    margin: 2px;
    align-items: center;
    padding: 4px 12px;
    width: 73px;
    height: 34px;
    background: #ebebff;
    border-radius: 8px;
    font-size: 14px;
  }

  .contact-section {
    background-color: #6070ff;
    background-image: url(image-folder/contact\ form\ background\ shapes@2x.png);
    border-top-left-radius: 100px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    background-size: 90%;
    align-items: center;
    margin-top: 0;
  }

  .contact-h {
    text-align: center;
  }

  .contact-p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    width: 50%;
  }

  .form-p {
    display: flex;
    margin-left: 12px;
    margin-right: 20px;
    margin-bottom: 300px;
    flex-direction: column;
    align-items: center;
  }

  .input-p {
    border-radius: 0;
    margin-top: 10px;
    width: 400px;
  }

  .input-t {
    border-radius: 0;
    width: 400px;
    color: #000;
  }

  a {
    color: #000;
    text-decoration: none;
  }
}
